
/* Responsive */

@media (max-width: 1199px){
	.speaker-img{
		height: 300px;
	}
	.speaker .soon:before{
		line-height: 300px;
	}
	.speaker-title{
		font-size: 20px;
	}
	.speaker-text{
		font-size: 12px;
	}
}

@media (max-width: 991px){
	.speaker-img{
		height: 250px;
	}
	.speaker .soon:before{
		line-height: 250px;
	}
	.speaker-text{
		font-size: 8px;
	}
	.speaker-content{
		-webkit-transform: translateY(18px);
		-moz-transform: translateY(18px);
		-ms-transform: translateY(18px);
		-o-transform: translateY(18px);
		transform: translateY(18px);
	}

}

@media (max-width: 767px){
	.speaker-content{
		-webkit-transform: translateY(27px);
		-moz-transform: translateY(27px);
		-ms-transform: translateY(27px);
		-o-transform: translateY(27px);
		transform: translateY(27px);
	}
	.speaker-img{
		height: 360px;
	}
	.speaker .soon:before{
		line-height: 360px;
	}
	.speaker-title{
		font-size: 26px;
	}
	.speaker-text{
		font-size: 14px;
	}
	.header .window-bar-input{
		display: none;
	}
	.hero .coming{
		transform: none;
		position: inherit;
		margin-bottom: -3px;
		left: 0;
		top: 0;
	}
	.inline-points {
		left: 0px;
		bottom: -18px;
	}
	.msg{
		bottom: 23%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.msg2{
		bottom: 19.8%;
	}
	.logo{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.hero-content{
		margin: -160px auto 0;
	}
	.copyright, .links-footer{
		display: block;
		float: none;
		text-align: center;
		margin: 30px auto;
	}
}

@media (max-width: 475px){
	.hero{
		display: block;
	}
	.hero-content {
		margin: 40px auto 0;
		max-width: 265px;
	}
	.msg{
		margin-top: 20px;
		position: relative;
	}
	.msg2{
		margin-top: 0;
	}
	.logo{
		position: relative;
		margin-top: 80px;
	}
	.inline-points {
		left: 160px;
		bottom: 0px;
	}
	.hero .title {
		font-size: 48px;
		line-height: 45px;
	}
	.hero-points{
		display: none;
	}
	.f1 {
		left: 57%;
		top: 13%;
	}
	.f2 {
		left: 11%;
		top: 4%;
	}
	.f3 {
		right: 8%;
		top: 7%;
	}
	.f5 {
		left: 92%;
		bottom: 26%;
	}
	.f6 {
		bottom: 8%;
	}
}

// iPhone 6P
@media (max-width: 414px){
	.logo{
		margin-top: 80px;
	}
}
// iPhone 6
@media (max-width: 375px){
	.hero-content{
		margin-top: 80px;
	}
	.logo{
		margin-top: 72px;
	}
	.btn{
		padding: 12px;
	}
	.btn-register{
		margin-right: 0;
	}
	.speaker-img{
		height: 300px;
	}
	.speaker .soon:before{
		line-height: 300px;
	}
	.speaker-text {
		font-size: 12px;
	}
}

// iPhone 5/4
@media (max-width: 320px){
	.hero-content{
		margin-top: 30px;
		max-width: 238px;
	}
	.btn{
		margin-right: 5px;
		font-size: 14px;
		padding: 8px;
	}
	.btn-involved {
		margin-top: 30px;
	}
	.comming, .tag{
		font-size: 20px;
	}
	.hero .title {
		font-size: 43px;
		line-height: 39px;
	}
	.msg{
		font-size: 14px;
	}
}