/* Front In Salvador 2017 */

@font-face {
	font-family: 'Mono RGO Pro';
	src: url('../fonts/MonoRGOPro-Bold.eot');
	src: url('../fonts/MonoRGOPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MonoRGOPro-Bold.woff2') format('woff2'),
	url('../fonts/MonoRGOPro-Bold.woff') format('woff'),
	url('../fonts/MonoRGOPro-Bold.ttf') format('truetype'),
	url('../fonts/MonoRGOPro-Bold.svg#MonoRGOPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Mono RGO Pro';
	src: url('../fonts/MonoRGOPro-Regular.eot');
	src: url('../fonts/MonoRGOPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MonoRGOPro-Regular.woff2') format('woff2'),
	url('../fonts/MonoRGOPro-Regular.woff') format('woff'),
	url('../fonts/MonoRGOPro-Regular.ttf') format('truetype'),
	url('../fonts/MonoRGOPro-Regular.svg#MonoRGOPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	width: 100%;
	height: 100%;
}

body{
	background:#000 url(../img/bg.svg) 0 0 repeat;
	font-family: 'Mono RGO Pro';
	font-size: 14px;
	line-height: normal;
	color: #fff;
	animation: animatedBackground 100s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 1920px 0; }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: sans-serif;
}

.header {
	position: relative;
	width: 100%;
	min-height: 100%;
	color: #fff;
}

.header-content{
	display: table;
	width: 100%;
	height: 95%;
	position: relative;
}

.msg{
	color: #000;
	background-color: #ccc;
	display: block;
	position: absolute;
	left: 3%;
	width: 13.4em;
	bottom: 70px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	animation: type 1s steps(20, end);
}

.msg2{
	width: 14.4em;
	bottom: 48px;
	animation: type2 2s steps(20, end);
}

.msg2 span{
	animation: blink 1s infinite;
}

.msg-points{
	position: absolute;
	left: 3%;
	bottom: 40px;
}

.hero-points{
	position: absolute;
	right: 0;
	top: -30px;
}

.point{
	width: 8px;
	height: 8px;
	display: block;
}

.red{
	background-color: #e44524;
}
.green{
	background-color: #05b192;
}
.blue{
	background-color: #008acc;
}

.three-points{
	background-color: #e44524;
	width: 8px;
	height: 8px;
	display: block;
}
.three-points:before{
	content: "";
	background-color: #05b192;
	margin-left: 8px;
	width: 8px;
	height: 8px;
	display: block;
}
.three-points:after{
	content: "";
	background-color: #008acc;
	width: 8px;
	height: 8px;
	display: block;
}

@keyframes type{
	from { width: 0; }
}

@keyframes type2{
	0%{width: 0;}
	50%{width: 0;}
	100%{ width: 100; }
}

@keyframes blink{
	to{opacity: .0;}
}

@keyframes blink2{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink3{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

.a1{
	animation: blink2 2s infinite;
}

.a2{
	opacity: 0;
	animation: blink3 2s infinite;
}

.inline-points{
	position: absolute;
	left: -35px;
	bottom: 36px;
}

.inline-points:after{
	margin-top: -8px;
	margin-left: 16px;
}

.float{
	position: absolute;
}

.f1{
	left: 8%;
	top: 18%;
}
.f2{
	left: 22%;
	top: 30%;
}

.f3{
	right: 18%;
	top: 20%;
}

.f4{
	left: 15%;
	bottom: 29%;
}

.f5{
	left: 52%;
	bottom: 16%;
}

.f6{
	right: 24%;
	bottom: 28%;
}

.logo{
	display: block;
	position: absolute;
	right: 3%;
	bottom: 3%;
	width: 100%;
	max-width: 200px;
	height: 70px;
}

.header .window{
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 3%;
	bottom: 0;
	position: absolute;
}

.window{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 4px solid #3b3c38;
	width: 95%;
	height: 95%;
	background-color: #000;
}

.window-bar{
	padding: 7px 10px;
	border-bottom: 4px solid #3b3c38;
}

.window-bar-buttons{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	border: 3px solid #3b3c38;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	position: relative;
}

.window-bar-buttons:before, .window-bar-buttons:after{
	content: "";
	display: block;
	position: absolute;
	left: 20px;
	top: -3px;
	width: 20px;
	height: 20px;
	border: 3px solid #3b3c38;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}

.window-bar-buttons:after{
	left: 43px;
}

.window-bar-input{
	border: 3px solid #3b3c38;
	width: 90%;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: right;
	display: inline-block;
}

.hero{
	display: table-cell;
	vertical-align: middle;
}

.hero-content{
	margin: 0 auto;
	width: 100%;
	max-width: 330px;
	position: relative;
}

.hero .coming{
	border: 3px solid #4dc9a4;
	background-color: #000;
	color: #4dc9a4;
	font-size: 30px;
	display: inline-block;
	padding: 2px 6px;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	position: absolute;
	left: -73px;
	top: 30px;

}

.hero .title{
	font-size: 60px;
	line-height: 54px;
	font-weight: bold;
	background-color: #000;
	border: 3px solid #4dc9a4;
	display: block;
	padding: 8px 10px;
}
.hero .tag{
	color: #000;
	background-color: #4dc9a4;
	display: inline-block;
	font-size: 30px;
	padding: 0 15px;
	margin-top: -3px;
	font-weight: bold;
}
.hero .tag:before{
	content: "<";
}
.hero .tag:after{
	content: ">";
}

.call4 {
	margin-top: 48px;
}
.btn-call4 {
	border: 0;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0 5px 0 #1565c0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 12px 22px;
  transition: all .1s linear;
}
.btn-call4:active {
	box-shadow: 0 2px 0 #1565c0;
  transform: translateY(3px);
}

/* Responsive */

@media (max-width: 1199px){

}

@media (max-width: 991px){

}

@media (max-width: 767px){
	.header .window-bar-input{
		display: none;
	}
	.hero .coming{
		transform: none;
		position: inherit;
		margin-bottom: -3px;
		left: 0;
		top: 0;
	}
	.inline-points {
		left: 0px;
		bottom: -18px;
	}
	.msg{
		bottom: 23%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.msg2{
		bottom: 19.8%;
	}
	.logo{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

@media (max-width: 475px){
	.hero{
		display: block;
	}
	.hero-content {
		margin: 40px auto 0;
	}
	.msg{
		margin-top: 20px;
		position: relative;
	}
	.msg2{
		margin-top: 0;
	}
	.logo{
		position: relative;
		margin-top: 20px;
	}
	.inline-points {
		left: 160px;
		bottom: 0px;
	}
	.hero .title {
		font-size: 48px;
		line-height: 45px;
	}
	.hero-points{
		display: none;
	}
	.f1 {
		left: 57%;
		top: 13%;
	}
	.f2 {
		left: 11%;
		top: 4%;
	}
	.f3 {
		right: 8%;
		top: 7%;
	}
	.f5 {
		left: 92%;
		bottom: 26%;
	}
	.f6 {
		bottom: 8%;
	}
	.hero-content{
		max-width: 265px;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {

}
